@import "../../variables.scss";

.Name {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: #FFFFFF;
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        font-size: 9rem;
        @media screen and (max-width: $tablet-large-width) {
            font-size: 5rem;
        }
        @media screen and (max-width: $mobile-large-width) {
            font-size: 3rem;
        }
    }
    .hidden {
        visibility: hidden;
    }
}
