@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

.Name {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: #000;
        font-family: "PT Mono", monospace;
        font-weight: bold;
    }
    #name {
        font-size: 8rem;
    }
    #line {
        font-size: 10rem;
    }
    .hidden {
        visibility: hidden;
    }
    @media screen and (max-width: $tablet-large-width) {
        #name {
            font-size: 5rem;
        }
        #line {
            font-size: 7rem;
        }
    }
    @media screen and (max-width: $mobile-large-width) {
        #name {
            font-size: 3rem;
        }
        #line {
            font-size: 4rem;
        }
    }
}
