@import "../../variables.scss";

.Skills {
    width: 100%;
    min-height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    background-color: $orange;
    > div {
        > div {
            display: inline-block;
            > img {
                height: 150px;
                max-width: 300px;
            }
        }
    }
}
