@import "../../variables.scss";

.About {
    width: 100%;
    height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    color: $white;
    background-color: $orange;
    > div {
        width: 90%;
        margin: 5% auto auto;
        display: grid;
        grid-gap: 5%;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        @media screen and (max-width: $tablet-large-width) {
            grid-template-rows: auto auto;
            grid-template-columns: auto;
        }
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            height: 100%;
            > div {
                > p {
                    text-align: center;
                    font-size: 3.5vmin;
                    span {
                        color: $black;
                        font-weight: bold;
                    }
                }
                .row {
                    hr {
                        width: 15%;
                        margin: 3% auto;
                        border: none;
                        border-top: 0.5vmin dotted $white;
                    }
                    p {
                        width: 80%;
                        font-size: 3vmin;
                    }
                }
                .row:nth-child(odd) {
                    p {
                        margin-left: auto;
                    }
                }
            }
        }
        .profile-picture {
            div {
                $picture-size: 40vmin;
                width: $picture-size;
                height: $picture-size;
                img {
                    width: $picture-size;
                    height: $picture-size;
                    border-radius: 50%;
                }
            }
        }
    }
}
