@import "../../variables.scss";

.About {
    width: 100%;
    height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    color: $white;
    background-color: $orange;
    text-align: center;
}
