@import "../../variables.scss";

.Home {
    width: 100%;
    min-height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    background-color: $white;
    display: flex;
    align-items: center;
    .welcome {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        @media screen and (max-width: $desktop-large-width) {
            // font-size: 1.6rem;
        }
        @media screen and (max-width: $tablet-small-width) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: $mobile-large-width) {
            font-size: 1.2rem;
        }
        .developer {
            color: $orange;
        }
        .text {
            overflow: hidden;
            p {
                display: inline-block;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
        .top-text p {
            animation-name: showTopText;
        }
        .bottom-text p {
            animation-name: showBottomText;
        }
        @keyframes showTopText {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
        @keyframes showBottomText {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
    }
    .gif {
        overflow: hidden;
        width: fit-content;
        height: fit-content;
        margin: 5% auto 0;
        @media screen and (max-width: calc(#{$tablet-large-width} + 1px)) {
            margin: 10% auto 5%;
        }
        @media screen and (max-width: calc(#{$mobile-large-width} + 1px)) {
            margin: 30% auto 10%;
        }
        div {
            $image-size: 35vmin;
            width: $image-size;
            height: $image-size;
            background-color: $black;
            border-radius: 50%;
            animation-name: showGif;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            img {
                width: $image-size;
                height: $image-size;
            }
        }
        @keyframes showGif {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
    }
}
