@import "../../variables.scss";

.Home {
    height: calc(100vh - #{$header-height});
    width: 100%;
    .background {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        background-image: url("../../assets/vinyl2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .welcome-text {
        text-align: center;
        font-size: 2rem;
    }
}
