@import "../../variables.scss";

.Home {
    width: 100%;
    height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    .welcome {
        margin-top: 5%;
        text-align: center;
        font-size: 1.8rem;
        .developer {
            color: $orange;
        }
        .text {
            overflow: hidden;
            p {
                display: inline-block;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
        .top-text p {
            animation-name: showTopText;
        }
        .bottom-text p {
            animation-name: showBottomText;
        }
        @keyframes showTopText {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
        @keyframes showBottomText {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }
    }
    .gif {
        margin: 5% auto auto auto;
        overflow: hidden;
        width: fit-content;
        height: fit-content;
        .container {
            $image-size: 35vmin;
            width: $image-size;
            height: $image-size;
            background-color: $black;
            border-radius: 50%;
            animation-name: showGif;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            img {
                width: $image-size;
                height: $image-size;
            }
        }
        @keyframes showGif {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
    }
}
