@import "../../variables.scss";

header {
    width: 100%;
    height: $header-height;
    padding-right: $scrollbar-width;
    top: 0;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .links {
        justify-content: flex-start;
        span {
            display: none;
            margin-left: 8px;
            font-size: 0.7rem;
            white-space: nowrap;
            cursor: pointer;
            @media screen and (min-width: $tablet-large-width) {
                display: inline;
            }
            @media screen and (min-width: $desktop-small-width) {
                margin-left: 14px;
                font-size: 0.8rem;
            }
            @media screen and (min-width: $desktop-medium-width) {
                margin-left: 20px;
            }
        }
        span:hover {
            color: $lightgrey;
        }
    }
    .name {
        justify-content: center;
        span {
            font-size: 1rem;
            @media screen and (min-width: $tablet-large-width) {
                font-size: 1.2rem;
            }
        }
    }
    .languages {
        justify-content: flex-end;
        font-size: 0.7rem;
        span {
            margin: 0 8px;
            cursor: pointer;
        }
        span:hover {
            color: $lightgrey;
        }
        @media screen and (min-width: $desktop-small-width) {
            margin-right: 7px;
            font-size: 0.8rem;
            span {
                margin: 0 7px;
            }
        }
        @media screen and (min-width: $desktop-medium-width) {
            margin-right: 10px;
            span {
                margin: 0 10px;
            }
        }
    }
}

.font-white {
    color: $white;
}

.font-black {
    color: $black;
}

.font-orange {
    color: $orange;
}
