@import "../../variables.scss";

header {
    width: 100%;
    height: $header-height;
    top: 0;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .links {
        justify-content: flex-start;
        span {
            display: none;
            margin-left: 10px;
            font-size: 0.7rem;
            white-space: nowrap;
            cursor: pointer;
            @media screen and (min-width: $desktop-large-width) {
                font-size: 0.8rem;
                margin-left: 20px;
            }
            @media screen and (min-width: $tablet-large-width) {
                display: inline;
            }
        }
        span:hover {
            color: $lightgrey;
        }
    }
    .name {
        justify-content: center;
        span {
            font-size: 1.2rem;
            color: $orange;
        }
    }
    .languages {
        justify-content: flex-end;
        font-size: 0.7rem;
        @media screen and (min-width: $desktop-large-width) {
            font-size: 0.8rem;
            margin-right: 10px;
        }
        .language {
            margin: 0 10px;
            cursor: pointer;
        }
        .language:hover {
            color: $lightgrey;
        }
    }
}
