@import "../../variables.scss";

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $darkgrey;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        width: 90%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: $white;
                font-size: 2.1vmin;
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin-right: 2vmin;
                }
                .github {
                    width: 4.5vmin;
                }
                .email {
                    width: 4vmin;
                }
                .linkedin {
                    width: 3.5vmin;
                }
            }
            a:visited {
                color: $white;
            }
            a:hover {
                color: $orange;
            }
        }
    }
}
