@import "./variables.scss";

.App {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    color: $black;
    background-color: $white;
    font-family: $sans-serif, sans-serif;
    section:last-child {
        padding-bottom: $footer-height;
    }
}
