@import "./variables.scss";

.App {
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    color: $black;
    background-color: $white;
    font-family: "Montserrat";
    section:last-child {
        padding-bottom: $footer-height;
    }
}
