$header-height: 70px;
$footer-height: 130px;
$desktop-large-width: 1366px;
$desktop-small-width: 1280px;
$tablet-large-width: 1024px;
$tablet-small-width: 768px;
$mobile-large-width: 414px;
$mobile-small-width: 360px;
$white: #fffcf2;
$black: #252422;
$darkgrey: #403d39;
$lightgrey: #ccc5b9;
$orange: #eb5e28;
