$header-height: 70px;
$footer-height: 130px;
$desktop-large-width: 1366px;
$desktop-small-width: 1280px;
$tablet-large-width: 1024px;
$tablet-small-width: 768px;
$mobile-large-width: 414px;
$mobile-small-width: 360px;
